:root {
  --primaty-color: #1cde1a;
  --secondary-color: #4398ad;
  --bg-color-secondary: rgba(67, 152, 173, 0.3);
  --bg-color-footer: whitesmoke;
  --primary-text-color: white;
  --secondary-text-color: black;
  --text-size: 0.9rem;
  --text-size-Title: 1.1rem;
  --text-size-brand: 0.7rem;
  font-size: 16px;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 5px;
  background-color: var(--bg-color-footer);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

.mb-s {
  margin-bottom: 0.7rem;
}

.mb-l {
  margin-bottom: 1.5rem;
}

/*-----------------MEDIA QUERY-----------------*/
@media (min-width: 425px) {
  .banner-image {
    background-image: url("/assets/Banner-425px.jpg");
  }
  .section-container-grid {
    grid-template-columns: auto auto;
    grid-template-areas: "myArea myArea";
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  /*-----MEDIA QUERY DE HEADER---------*/
  .label-menu {
    display: none;
  }

  .ul-menu {
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
  }
  .li-menu {
    font-size: var(--text-size);
    transition: all 0.5s;
    padding: 0.2rem 0.7rem;
  }
  /*--------------------------------------------/

/*---------------MEDIA QUERY DE SKILL----------*/
  .section-container-grid {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "myArea myArea myArea myArea";
    gap: 1.5rem;
  }
  /*---------------------------------------------*/

  /*-----------------MEDIA QUERY DE ABOUT-ME---------------*/
  .AboutMe-text {
    width: 90%;
  }

  .AboutMe-text > p::after {
    content: "Estos proyectos no solo me permiten consolidar mi comprensión de los temas, sino que también me brindan la oportunidad de explorar nuevas ideas y enfoques en el campo de la informática.";
  }

  .AboutMe-text-shadow {
    margin-top: 0.7rem;
    font-size: 1.5rem;
  }
  /*--------------------------------------------------------*/

  /*--------------MEDIA QUERY CONTACT-------------*/
  div.container-flex-row > img {
    display: block;
  }
  /* .bg-contact{
        background: linear-gradient(0deg, rgba(0, 49, 64, 1) 0%, transparent 100%)
    } */
  /*------------------------------------------------*/
}

@media (min-width: 1024px) {
  /*-----------------MEDIA QUERY DE ABOUT-ME---------------*/
  .AboutMe-text {
    margin-bottom: 1rem;
  }

  .AboutMe-text-shadow {
    margin-top: 1rem;
    font-size: 2rem;
  }
  /*--------------------------------------------------------*/
}

@media (min-width: 1440px) {
  /*---------------MEDIA QUERY DE SKILL----------*/
  .section-container-grid {
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-areas: "myArea myArea myArea myArea myArea myArea";
    gap: 1.5rem;
  }
  /*-----------------------------------------------*/
}
