/*CSS de Media Query y animacion de project.html*/

video.fade-in {
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

@media (max-width: 425px) {
  #v-426 {
    display: block;
  }
  #v-960 {
    display: none;
  }
  #v-1280 {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  #v-426 {
    display: none;
  }
  #v-960 {
    display: block;
  }
  #v-1280 {
    display: none;
  }
}

@media (min-width: 1025px) {
  #v-426 {
    display: none;
  }
  #v-960 {
    display: none;
  }
  #v-1280 {
    display: block;
  }
}
