#Par de archivos html y css de prueba para distintos componentes
mi-progress-bar.css
mi-progress-bar.html
progres-bar.css
progress-bar.html
boton-futurista.html
boton-futurista.css

# Gift de prueba para diseño
/assets/giphy.gif