* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
    --primaty-color: #1CDE1A;
    --secondary-color: #4398AD;
    --bg-color-footer: whitesmoke;
    --primary-text-color: white; 
    --secondary-text-color: black;
}

.footer-Container {
    background-color: var(--bg-color-footer);
    padding: 2px 25dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img {
    height: 32px;
}

.footer-anchor{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer-span{
    font-size: 12px;
    color: var(--secondary-text-color);
}